<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8"> 
    <title>Dog at the park</title>
    <meta name="author" content="Jonna Visser">
    
    <link rel="stylesheet" href="/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Oswald:wght@200&family=Quicksand:wght@700&display=swap" rel="stylesheet">

</head>
