/***VERWIJDERD BULLETPOINTS VOOR LI***/
li {
   list-style-type: none;
}

header>ul {
   display: flex;
   justify-content: space-between;
   padding-left: 0;
}

.profielfotoklein {
   vertical-align: middle;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.profielfotomiddel {
   vertical-align: middle;
   width: 75px;
   height: 75px;
   border-radius: 50%;
}

.profielfotogroot {
   width: 275px;
   height: 275px;
   border-radius: 50%;


      display: block;
      margin-left: auto;
      margin-right: auto;

}

button {
   background-color: #9C625B;
   align-self: center;
   border-radius: 10px;
}

button:link {
   background-color: #9C625B;

}

button:visited { background-color: blueviolet;}

button:hover { 
   background-color: #512924;
   border-radius: 20px;
   filter: drop-shadow(8px 8px 5px #9C625B);
}

button:active {
   background-color: #C9928C;
   filter:none;
}

a:link {
   text-decoration: none;
}

a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration:underline;
}

a:active {
   text-decoration:none;
   color: black;
}

button>a {
   font-size: 20px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
   display: flex;
   justify-content: center;
   text-transform: uppercase;

}

h1 {
   font-family: 'Quicksand', sans-serif;
   text-transform: uppercase;
   width: 175px;
   text-align: center;
   margin-top: 0;

}

h2 {
 font-family: 'Quicksand', sans-serif;  
  text-transform: uppercase;
   text-align: center;
}

p {
   font-family: 'Bentham', serif;
   font-size:23px;


}

/***************************************INDEX.HTML PAGINA*********************************/

.checkinmain {
   display: flex;
   justify-content: center;
   margin-top: 300px;
   
}

.checkinfooter {
   display: flex;
   justify-content: center;
   margin-top: 25px;
}

header > ul li:nth-of-type(1) {
   padding-left:10px;
   padding-top:10px;
}

header > ul li:nth-of-type(3) {
   padding-right: 10px;
   padding-top: 10px;
}

.index > p {
   width:350px;
   text-align: center;
}


/***************************************OVERZICHT.HTML PAGINA*****************************/

.achtergrondkleur {
   background-color:#D8CFCD;
}

.overzichtblok, .overzichtblok a {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-start;

   background-color: white;
   width: 100%;
   box-sizing: border-box;
}

.fotoblok {
   max-width: 30%;
   padding-top: 30px;
   box-sizing: content-box;
   position: relative;
   

}

.infoblok {
   max-width: 70%;
   box-sizing: content-box;
   position: relative;


}


.overzichtblok ul:nth-of-type(1) {
   display: flex;
   justify-content: space-between; 
   padding-left: 0;

}

.overzichtblok ul:nth-of-type(2) {
   display: flex;
   justify-content: space-between; 
   padding-left: 0;
}



.overzichtblok > .infoblok ul:nth-of-type(2) li p{
   width: 50%;
}


h3 {
   display: flex;

}