<%- include('includes/head.ejs'); %>

<body class="achtergrondkleur">

    <header>
        <ul>
            <li>
                <a href="./Overzicht.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="34.875" height="34.875" viewbox="0 0 34.875 34.875">
                    <path id="Icon_awesome-arrow-alt-circle-left" data-name="Icon awesome-arrow-alt-circle-left" d="M18,35.438A17.438,17.438,0,1,1,35.438,18,17.434,17.434,0,0,1,18,35.438Zm8.156-20.531H18V9.921a.844.844,0,0,0-1.441-.6L8.522,17.4a.836.836,0,0,0,0,1.188l8.037,8.079a.844.844,0,0,0,1.441-.6V21.094h8.156A.846.846,0,0,0,27,20.25v-4.5A.846.846,0,0,0,26.156,14.906Z" transform="translate(-0.563 -0.563)"/>
                  </svg>
                </a>
                  
            </li>
            <li>
                <h1>Dogs at the park</h1>
            </li>
            <li>
              <img class="profielfotoklein" src="../HTML/photos-matchingapp/lisa-en-chick.jpg" width="100" height="100" alt="lisa en chick"> 
            </li>
        </ul>
    </header>

    <main>
        <div class="headerdetail">
            <img class="profielfotogroot" src="../HTML/photos-matchingapp/maria-asha.jpg" width="300" height="450" alt="maria en asha"> 
            <h2>maria en asha</h2>
            <h3>35 en 1</h3>
        </div>

        <div class="detailtekst">
            <p>Hey! <strong>Ik ben</strong>  een huisvrouw met twee kinderen die naar school gaan en een grote jonge hond.</p>
            <p><strong>Ik zoek</strong> een hondenmaatje met kinderen die tussen de middag gezellig wil kletsen.</p>
        </div>


    </main>

    <footer class="dubbelbutton">
        <button><a href="../index.html">spreek af</a></button>
        <button><a href="./Overzicht.html">terug naar Overzicht</a></button>
    </footer>
    
</body>

</html>