<%- include('includes/head.ejs'); %>

<body class="achtergrondkleur">

    <%- include('includes/header3.ejs'); %>

    <main>
        <div class="headerdetail">
            <img class="profielfotogroot" src="/images/roel-thunder.jpg" width="400" height="300" alt="roel en thunder">
            <h2>roel en thunder</h2>
            <h3>27 en 2</h3>
        </div>
        <div class="detailtekst">
            <p>Yoehoe! <strong>Wij zijn</strong> een een bal energie die soms moet ontploffen.</p>
            <p><strong>Wij zoeken</strong> naar dezelfde bal energie om mee te ravotten.</p>
        </div>
        <div class="dubbelbutton">
            <button><a href="overzicht?park=Oosterpark">terug naar Overzicht</a></button>
            <button><a href="#">spreek af</a></button>
        </div>

    </main>

    <%- include('includes/footer.ejs'); %>

</body>
