<%- include('includes/head.ejs'); %>

<body class="achtergrondkleur">

    <%- include('includes/header3.ejs'); %>

    <main>
        <div class="headerdetail">
            <img class="profielfotogroot" src="/images/thirza-bommel.jpg" width="400" height="300"
                alt="thirza en bommel">
            <h2>thirza en bommel</h2>
            <h3>50 en 3</h3>
        </div>

        <div class="detailtekst">
            <p>Hey! <strong>Wij zijn</strong> een sportief paar en houden ontzettend van wandelen.</p>
            <p><strong>Wij zoeken</strong> een paar om een flink eind mee te wandelen en te kletsen.</p>
        </div>
        <div class="dubbelbutton">
            <button><a href="overzicht">terug naar Overzicht</a></button>
            <button><a href="#">spreek af</a></button>
        </div>

    </main>

    <%- include('includes/footer.ejs'); %>
</body>

</html>