<%- include('includes/head.ejs'); %>

<body class="achtergrondkleur">

    <%- include('includes/header3.ejs'); %>

    <main>
        <div class="headerdetail">
            <img class="profielfotogroot" src="/images/joke-kaya.jpg" width="300" height="475"
                alt="joke en kaya">
            <h2>joke en kaya</h2>
            <h3>23 en 5</h3>
        </div>

        <div class="detailtekst">
            <p>Hey! <strong>Ik ben</strong> een single positieve meid met naast mij een diva maar wel altijd beleefd</p>
            <p><strong>Ik zoek</strong> hondenmaatje die af en toe gewoon lekker over koetjes en kalfjes wil praten</p>
        </div>
        <div class="dubbelbutton">
            <button><a href="overzicht">terug naar Overzicht</a></button>
            <button><a href="#">spreek af</a></button>
        </div>

    </main>


    <%- include('includes/footer.ejs'); %>
</body>

</html>