<%- include('includes/head.ejs'); %>

<body class="achtergrondkleur">

    <%- include('includes/header3.ejs'); %>

    <main>
        <div class="headerdetail">
            <img class="profielfotogroot" src="/images/maria-asha.jpg" width="300" height="450" alt="maria en asha">
            <h2>maria en asha</h2>
            <h3>35 en 1</h3>
        </div>
        <div class="detailtekst">
            <p>Hey! <strong>Ik ben</strong> een huisvrouw met twee kinderen die naar school gaan en een grote jonge
                hond.</p>
            <p><strong>Ik zoek</strong> een hondenmaatje met kinderen die tussen de middag gezellig wil kletsen.</p>
        </div>
        <div class="dubbelbutton">
            <button><a href="overzicht?park=Vondelpark">terug naar Overzicht</a></button>
            <button><a href="#">spreek af</a></button>
        </div>
    </main>

    <%- include('includes/footer.ejs'); %>

</body>