<%- include('includes/head.ejs'); %>


<body class="index">

    <%- include('includes/header1.ejs'); %>

    <main  class="checkinmain">
        <ul>
            <li>
                <img class="profielfotogroot" src="/images/lisa-en-chick.jpg" width="200" height="300" alt="lisa en chick"> 
            </li>
            <li>
                <h2>HEY LISA EN CHICK!</h2>
            </li>
            <li>
                <p>Check snel in om de hondenmaatjes in je buurt te zien.</p> 
            </li>
            <li>
                <button class="button"><a href="overzicht">check in</a></button>
            </li>
        </ul>
    </main>

    <%- include('includes/footer.ejs'); %>
    
</body>

