<%- include('includes/head.ejs'); %>


<body class="index">

    <%- include('includes/header1.ejs'); %>

    <main  class="checkinmain">
        <ul>
            <li>
                <a href="formulier">
                    <img class="profielfotogroot" src="/images/lisa-en-chick.jpg" width="200" height="300" alt="lisa en chick"> 
                </a>
            </li>
            <li>
                <h2>HEY LISA EN CHICK!</h2>
            </li>
            <li>
                <p>Check snel in om de hondenmaatjes in je buurt te zien.</p> 
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Kies jouw park</button>
                    <div class="dropdown-content">
                      <a href="overzicht?park=vondelpark">Vondelpark</a>
                      <a href="overzicht?park=oosterpark">Oosterpark</a>
                      <a href="overzicht?park=westerpark">Westerpark</a>
                    </div>
                  </div>
                  
            </li>
        </ul>
    </main>

    <%- include('includes/footer.ejs'); %>
    
</body>

