<%- include('includes/head.ejs'); %>

<body class="achtergrondkleur">

    <%- include('includes/header2.ejs'); %>

    <main class="overzicht">
        <%- include('includes/blokjesoverzicht.ejs'); %>
       
        <button><a href="/">check uit</a></button>
    </main>

    <%- include('includes/footer.ejs'); %>

</body>

</html>